Robot(
    links: [


        Link(
            len: 4.0,
            next: Pose(
            
                vect: {x: 0.4, 
                        y: 0.4, 
                        z: 0.4}, 
                quat: (0.0,(0.0,0.1,0.0))
            )
        ),

        Link(
            len: 4.0,
            next: Pose(
            
                x: 0.4, 
                y: 0.4, 
                z: 0.4, 
                q: (0.0,(0.0,0.1,0.0))
            )
        ),
            
        Link(
            len: 4.0,
            next: Pose(
            
                x: 0.4, 
                y: 0.4, 
                z: 0.4, 
                q: (0.0,(0.0,0.1,0.0))
            )
        ),

        Link(
            len: 4.0,
            next: Pose(
            
                x: 0.4, 
                y: 0.4, 
                z: 0.4, 
                q: (0.0,(0.0,0.1,0.0))
            )
        ),

        Link(
            len: 4.0,
            next: Pose(
            
                x: 0.4, 
                y: 0.4, 
                z: 0.4, 
                q: (0.0,(0.0,0.1,0.0))
            )
        ),

        Link(
            len: 4.0,
            next: Pose(
            
                x: 0.4, 
                y: 0.4, 
                z: 0.4, 
                q: (0.0,(0.0,0.1,0.0))
            )
        ),

        Link(
            len: 4.0,
            next: Pose(
            
                x: 0.4, 
                y: 0.4, 
                z: 0.4, 
                q: (0.0,(0.0,0.1,0.0))
            )
        ),

    ]
)
